:root {
  --blue: #444086;
  --pink: #c02091;
}

.page {
  margin: 20px;
}


.blue-text {
  color: var(--blue);
}
.pink-text {
  color: var(--pink);
}

header {
  cursor: pointer;
}

#pageLogo {
  font-size: 50px;
  margin: 33px 0 0
}
#pageSubtitle {
  margin: 0 0 33px;
  font-size: 18px;
}

.interactions {
  text-align: center;
}

.table {
  margin: 20px 0 40px;
}

.table-header {
  display: flex;
  line-height: 24px;
  font-size: 16px;
  margin: 30px 0 10px;
  align-items: center;
}

.table-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  align-items: center;
}

.table-header > span, .table-row > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
  flex: auto;
}

.table-header > span.school-name, .table-row > span.school-name  {
  width: 35%
}
.table-header > span.school-rollnumber, .table-row > span.school-rollnumber {
  width: 25%
}
.table-header > span.school-district, .table-row > span.school-district {
  width: 25%
}
.table-header > span.confirm-button, .table-row > span.confirm-button {
  width: 15%;
}

.button-inline {
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
  vertical-align: middle;
}

.button-active {
  border-radius: 0;
  border-bottom: 1px solid #38BB6C;
}

#districtResult > h1 {
  margin-bottom: 0;
}
#mistakeWarning {
  margin-top: 0;
  font-size: 13px;
  color: var(--pink)
}
#mistakeWarning > em > a {
  color: var(--pink)
}


footer {
  position: fixed;
  bottom: 20px;
  margin: 0 auto;
  width: 100%;
  left: 0;
  right: 0;
  color: #555555
}

footer > div {
  margin-bottom: 10px;
}
footer > div > a > img {
  width: 35px;
  margin: 0 7px
}